## used by docker-compose
## DB user
DB_NAME_PREFX=books
DB_USER=books_db_user
DB_PWD=<db_password_here>
DB_ENV=dev
# DB_NAME will be  DB_NAME_PREFX + '_' + DB_ENV

# DBA
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<postgres_password_here>
